*.prof 
local_scripts/*

docs/_build
docs/generated
test_python

.pytest_cache
.ipynb_checkpoints
*.pyc

*.egg-info
build
dist

*~
*_deprecated.m
*.swp
*.mltbx
*.asv

.vscode

.DS_Store
__pycache__/

.idea

.mypy_cache

# test input data lives in a separate branch and will be pulled on demand
/extern/test-data/
