name: MATLAB Unit Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  matlab_unit_test:
    matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install numpy vtk
        [[ -z $(git remote show origin | grep "Fetch URL:" | grep git@github.com:MICA-MNI/BrainStat.git) ]] && git config remote.upstream.fetch refs/heads/*:refs/remotes/upstream/* || git config remote.origin.fetch refs/heads/*:refs/origin/upstream/*
        git fetch origin test-data-2.0
        git checkout origin/test-data-2.0 -- extern/test-data
        git reset extern/test-data
    - name: Install MATLAB
      uses: matlab-actions/setup-matlab@v0
    - name: Run tests 
      uses: matlab-actions/run-tests@v0
      with:
        source-folder: brainstat_matlab
